{% extends 'partials/base.html' %}
{% load static %}


{% block content %}

<section class="bg-[#F3F4F6] py-14 px-[19rem]">
    
<div class="mt-6 flex items-center justify-between rounded-2xl bg-white px-6 py-4">

    <div class="flex items-center gap-6">

        <button
            class="flex items-center gap-2 rounded-xl border border-slate-300 bg-white px-4 py-2 text-sm font-medium text-slate-700 hover:bg-slate-100">
            All Products
        </button>

        <p class="text-sm font-medium text-slate-900">
            Showing {{results.count}} of {{results.count}} Products
        </p>
    </div>


    <button class="rounded-xl bg-indigo-600 px-3 py-2 text-white hover:bg-indigo-700 transition">
        <i class="fa-solid fa-list"></i>
    </button>
</div>

<div class="grid grid-cols-4 gap-6 mt-5">
    {% for r in results %}
    <div>
        <div class="rounded-2xl bg-white p-4 shadow-sm cursor-pointer mt-[2rem]"
            onclick='window.location.href="{% url "product_detail" r.slug %}"'>
            <div class="flex items-center justify-center h-48">
                <img src="{{ r.image.url }}" alt="{{ b.name }}" class="max-h-full object-contain" />
            </div>

            <div class="mt-4 flex items-center justify-center  gap-[1rem]">

                <a href="{% url 'add_cart' r.id %}">
                    <button
                        class="flex h-10 w-10 items-center justify-center rounded-full border border-slate-200 bg-white text-slate-600 hover:bg-slate-50">
                        <i class="fa-solid fa-cart-shopping  text-sm"></i>

                    </button>
                </a>

                <a href="{% url 'add_wishlist' r.id%}">
                    <button
                        class="flex h-10 w-10 items-center justify-center rounded-full border border-slate-200 bg-white text-slate-600 hover:bg-slate-50">
                        <i class="fa-regular fa-heart text-sm"></i>
                    </button>
                </a>
            </div>

        </div>
        <h3 class="mt-3 text-sm font-semibold text-slate-900">
            {{ r.name }}
        </h3>

        <div class="mt-1 flex items-center gap-2 text-sm">
            <span class="font-bold text-slate-900">${{ r.sale_price }}</span>
            {% if r.regular_price %}
            <span class="text-slate-400 line-through">${{ r.regular_price}}</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
</section>



{% endblock content %}